<%- include('layout/header') %>
    </head>

    <body>
        <section  id="loginpages" class="d-flex align-items-center justify-content-center vh-100">
            <div class="container">
                <div class="align-items-center" style="background-color: #5e5e5e;" ><!--  style="height: 100vh!important;" -->
                    <br><br>
                    <div class="col shadow " id="card-logins">
                        <div class="row">
                            <div class="col" style="margin-right: 1px;align-items: center;">
                                <h4 style="font-weight: bold;text-align: center;">WELCOME BACK</h4>
                                <label style="text-align: center;padding-left: 15px;padding-right: 15px;">Member of The Greatest Team only! Please enter your details.</label>
                                <br>
                                <br>
                                <div>
                                    <label for="username" class="form-label" style="font-weight: bold;">ID</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter your ID" width="100%">
                                </div>
                                <br>
                                <div>
                                    <label for="password" class="form-label" style="font-weight: bold;">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter your password" width="100%">
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6 col-mb-12 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remmemberme" >
                                            <label class="form-check-label" for="remmemberme">
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-mb-12 col-sm-12" id="lupapassshow" >
                                        <a href="" style="text-decoration: none;color: gray;">Lupa Password ?</a>
                                    </div>
                                </div>
                                 <!-- Submit button -->
                                  <br><br>
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-block kliktombolcss" id="logintombol">Login</button>
                                </div>
                            </div>
                          
                        </div>
                     
                    </div>
                    <br><br>
                </div>
            </div>
        </section>


        
<%- include('layout/footerscript') %>
    </body>

    </html>