<%- include('layout/header') %>
    <style>
        .media-wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* 16:9 aspect ratio */
        background-color: #000;
        align-items: center;
        text-align: center;
        }

        .media-wrapper img,
        .media-wrapper video {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: cover;
        }
    </style>
</head>
<body class="bg-light d-flex align-items-center justify-content-center min-vh-100">

  <div class="container" style="max-width: 100%;">
    <div class="card shadow rounded-4 overflow-hidden">
      
      <!-- Media (image or video) -->
      <div class="media-wrapper">
        <!-- Ganti tag img ke video jika ingin video -->
        <img src="" class="img-fluid" alt="Gambar" id="imgshow">
        <!-- Contoh video:
        
        -->
        <video src="" class="img-fluid" controls id="videoshow"></video>
      </div>

      <!-- Keterangan -->
      

    </div>
    <div class="card-body bg-white">
        <h6 class="card-title">Keterangan kerusakan</h6>
        <p class="card-text text-muted" id="keterangancacatshow">
          
        </p>
      </div>
  </div>

  <%- include('layout/footerscript') %>
</body>
</html>