:root {
    --sidebar-width: 290px;
    --sidebar-width-collapsed: 80px;
}

.sidebar {
    width: var(--sidebar-width);
    
    background:#bebebeb0; /* linear-gradient(135deg, #1a1c2e 0%, #16181f 100%); */
    transition: all 0.3s ease;
    height: 100vh;
    
}

/* Agar sidebar bisa di-scroll tetapi tidak mempengaruhi layout */
.sidebar::-webkit-scrollbar {
    width: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
    background: #f8f9fa;
}
/*  */
.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar i{
    font-size: 20px;
}
#scrolled{
    overflow-y: auto!important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#scrolled::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrolled {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.sidebar-link {
    color: #3c3c3c;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin: 4px 16px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar-link:hover {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    transform: translateX(5px);
    cursor: pointer;
}

.sidebar-link.active {
    color: rgba(0, 0, 0, 0.836);
    background: rgba(235, 234, 234, 0.747);
}

.a-detailmenu{
    text-decoration: none;
    color: #3c3c3c;
    margin-left:5em;
    cursor: pointer;
}
.a-detailmenu-kanan{
    text-decoration: none;
    color: #3c3c3c;
    cursor: pointer;
    margin-right: 2em;
}
.div-detailmenu{
    width: 100%;
}
.div-detailmenu:hover{
    color: white;
    background-color: rgba(235, 234, 234, 0.747);
}
.div-detailmenu.active{
    color: white;
    background-color: rgba(235, 234, 234, 0.747);
}
/* .a-detailmenu:hover{
    color: white;
    background: rgba(0, 0, 0, 0.1); 
    transform: translateX(5px);
} */

.logo-text,.logo-text-hide {
    background:rgba(0, 0, 0, 0.836); /* linear-gradient(45deg, #6b8cff, #8b9fff); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease;
    font-size: 18px;
    cursor: pointer;
    display: inline;
}

.notification-badge {
    background: #ff6b6b;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 0.7rem;
}

.profile-section {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content {
    margin-left: var(--sidebar-width);
    background-color: white;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 5em;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
    width: 100%;
    overflow-y: auto;
}

.collapsed~.main-content {
    margin-left: var(--sidebar-width-collapsed);
}

/* Styling agar total biaya + tombol tetap mengambang di bawah */
.floating-footeradditems {
    position: fixed;
    bottom: 0;
    left: 290;
    width: 100%;
    background: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 1000;
   
}
/* Styling agar total biaya + tombol tetap mengambang di bawah */
.toggle-btn {
    /* position: absolute;
    right: -15px;
    top: 20px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 100; */
    cursor: pointer;
    /* transition: transform 0.3s ease; */
    color: white;
}

.collapsed .toggle-btn {
    transform: rotate(180deg);
}

.collapsed .hide-on-collapse {
   /*  opacity: 0; */
    display: none;
}

.collapsed .logo-text-hide {
    opacity: 0;
    display: none;
}
.collapsed .hide-on-collapse-detailmenu{
    display: none;
}
.collapsed .profile-info {
    opacity: 0;
}

.collapsed .sidebar-link {
    text-align: center;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
    margin: 4px 8px;
}

.collapsed .sidebar-link i {
    margin: 0 !important;
}

