<!-- Modal modal-lg -->
<div class="modal fade" id="modalklikeditref" tabindex="-1" aria-labelledby="modalklikeditreflabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header">
               
                <h1 class="modal-title fs-5" id="modalklikeditreflabel" style="font-weight: bold;vertical-align: middle;">item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="number" min="0"  class="form-control form-control-sm" id="editreferensiitem" placeholder="0" disabled>
                    <label for="editreferensiitem">Referensi Stock</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" min="0"  class="form-control form-control-sm" id="editreferensiitembuy" placeholder="0" disabled>
                    <label for="editreferensiitembuy">Referensi Buy</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"id="savetombolref">Save</button>
                <button type="button" class="btn btn-light"  style="border-color: grey;"  data-bs-dismiss="modal">Batal</button>
               
            </div>
        </div>
    </div>
</div>