<!-- Modal modal-lg -->
<div class="modal fade" id="modalklikdetailstockup" tabindex="-1" aria-labelledby="modalklikdetailstockuplabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-m">
        <div class="modal-content">
            <div class="modal-header">
               
                <h1 class="modal-title fs-5  ms-3 me-3" id="modalklikdetailstockuplabel" style="font-weight: bold;vertical-align: middle;">item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="alldattab-details">
                <div id="divhpsdata-details">
                    <div class="row d-flex justify-content-center ms-3 me-3">
                        <div class="col-11">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" style="background-color: #bebebeb0;text-align: center;padding-left: 20px;padding-right: 20px;">AS001a</span>
                                <input type="text" class="form-control" aria-label="colorvariant"aria-describedby="colorvariant" disabled value="hitam putih">
                            </div>
                        </div>
                        <div class="col-1">
                            <input type="text" class="form-control form-control-sm" aria-label="qtys"aria-describedby="qtys" disabled value="1" style="width: 50px;text-align: center;">
                        </div>
                    </div>
                 
                </div>
                
            </div>
            <div class="modal-footer d-none">
               <!--  <button type="button" class="btn btn-secondary" id="daftarstockclick" style="display: none;" onclick="window.open('/stock/produkupholstery','_self')">Daftar Stock</button>  -->
                <button type="button" class="btn btn-light"  style="border-color: grey;"  data-bs-dismiss="modal" id="kembalilagis">Kembali</button>
               
            </div>
        </div>
    </div>
</div>