<nav class="navbar fixed-top bg-light" id="navatas-mobile">
    <div class="container-fluid" style="font-weight: bold;">
      <h4 class="navbar-brand" style="font-weight:bold;color:#3C3C3C;font-size: 16px;"><%=titlepage%></h4>
    </div>
</nav>